header {
  width: 100%;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-family: 'Lexend', sans-serif;
  z-index: 999;
  overflow: hidden;
  transition: all 0.4s;
}

.inner-header::before {
  content: '';
  display: flex;
  justify-content: center;
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 92px;
  background-color: #f0f0f0;
  transition: width 1s;
}

.inner-header:hover::before {
  width: 100%;
}

.inner-header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 60px;
  box-sizing: border-box;
}

.inner-header h1.logo {
  flex: 0 0 170px;
  height: auto;
  padding: 5px 0;
}

.inner-header .gnb {
  flex: 0 0 775px;
  height: auto;
  text-align: center;
  padding: 5px 0;
}

.inner-header .gnb > ul {
  /* width: 100%; */
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.inner-header .gnb > ul li.mainCate {
  flex: 0 0 94px;
  position: relative;
}

.inner-header .gnb > ul li.mainCate::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  background-color: var(--point-color);

  top: 54px;
}

.inner-header .gnb > ul li.mainCate:hover::after {
  width: 100%;
  height: 2px;
  transition: width 1s;
}

.inner-header .gnb > ul li.mainCate > a {
  font-weight: 600;
  transition: color 0.4s;
}

.inner-header .gnb > ul li a:hover {
  color: var(--point-color);
}

.inner-header .gnb > ul li.mainCate .subCate {
  width: 100%;
  height: 214px;
  font-weight: 600;
  padding-top: 50px;
}
.inner-header .gnb > ul li.mainCate .subCate > ul {
  padding: 30px 0;
}
.inner-header .gnb > ul li.mainCate .subCate > ul > li:not(:last-child) {
  padding-bottom: 20px;
}

.inner-header .gnb > ul li.mainCate .subCate a {
  font-size: 14px;
}

.inner-header .right-menu {
  flex: 0 0 200px;
  padding: 5px 0;
  text-align: end;
}

.inner-header .right-menu a {
  display: block;
}

.inner-header .right-menu h6 {
  font-size: 16px;
  display: inline;
  color: var(--point-color);
  font-weight: 600;
  transition: padding-right 0.4s;
}

.inner-header .right-menu i.arrow {
  width: 50px;
  display: inline;
  width: 100%;
  position: relative;
}

.inner-header .right-menu i.arrow::before {
  content: '';
  display: inline;
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  background-color: var(--point-color);

  transition: width 0.4s;
}

.inner-header .right-menu i.arrow::after {
  content: '';
  display: inline;
  width: 10px;
  height: 10px;
  border: 2px solid var(--point-color);

  border-bottom: none;
  border-left: none;

  position: absolute;
  top: 20%;
  transform: rotate(45deg);

  right: -20px;
}

.inner-header .right-menu a:hover h6 {
  padding-right: 20px;
}

.inner-header .right-menu a:hover i.arrow::before {
  width: 25px;
}

.headerOpen {
  height: 260px;
}

.mobile-burger {
  display: none;
}

nav.hidden-gnb {
  display: none;
}

@media screen and (max-width: 600px) {
  header {
    height: 62px;
  }

  .inner-header::before {
    display: none;
  }

  .inner-header {
    padding: 20px 20px;
    box-sizing: border-box;
  }

  .inner-header h1.logo {
    max-width: 100px;
  }

  .inner-header .gnb {
    display: none;
  }

  .inner-header .right-menu {
    display: none;
  }

  .headerOpen {
    height: 260px;
  }

  .mobile-burger {
    display: block;
    cursor: pointer;
  }

  .mobile-burger > i > img {
    height: 26px;
  }

  nav.hidden-gnb {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 790;
    background: #ffffff;
  }
  nav.hidden-gnb > i {
    position: absolute;
    top: 36px;
    right: 14px;
    cursor: pointer;
    color: var(--point-color);
  }
  nav.hidden-gnb > ul {
    display: flex;
    flex-direction: column;
    padding: 46px 20px 0 20px;
    box-sizing: border-box;
  }
  nav.hidden-gnb > ul > li {
    width: 100%;
    padding-bottom: 66px;
  }

  nav.hidden-gnb > ul > li > .subCate > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 26px;
  }

  nav.hidden-gnb > ul > li .subCate > ul > li {
    width: 50%;
  }
  nav.hidden-gnb > ul > li .subCate > ul > li:not(:last-child) {
    padding-bottom: 33px;
  }
}
