.top-arrow {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 12%;
  right: 20px;
  z-index: 886;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  opacity: 0;
  transition: opacity 0.4s;
}

.top-arrow::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid #505967;
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-40%, -45%);
  transform: rotate(45deg);
}

.floating-con {
  width: 100%;
  height: auto;
}

ul.banner-con {
  text-align: center;
  position: fixed;
  bottom: 20%;
  right: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s;
}

ul.banner-con > li:nth-child(1)::after {
  content: '';
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 133px;
  height: 68px;
  background: url(../../img/business_index/floatingBanner.png) no-repeat 50% / contain;
}

ul.banner-con > li {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.4s;
}

ul.banner-con > li:nth-child(1) {
  transform: translateY(0);
}

ul.banner-con > li:nth-child(2) {
  transform: translateY(0);
}

ul.banner-con > li > p {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 15px;
}

ul.banner-con > li > a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  padding: 3px 13px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--point-color);
  border-radius: 25px;
}
