@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../container_index/subHeader.css);
@import url(../common/footer.css);

footer {
  background-color: #f4f4f5;
}

.sub-header::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 520px;
  background: url(../../img/business_index/banner-img.png) no-repeat 50% / cover;
  top: 0;
  left: 0;
  z-index: -11;
}

.sub-header .inner-sub-header > p {
  text-align: center;
  color: var(--point-color);
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 21px;
  padding-bottom: 44px;
}

.sub-header .inner-sub-header > h2 {
  font-size: 40px;
  padding-bottom: 146px;
  text-align: center;
}

/* section */

.sec-con {
  width: 100%;
  max-width: 1345px;
  margin: 0 auto;
  color: #212121;
}

.sec1 .sec-con {
  text-align: center;
  padding: 100px 0;
}

.sec1 .title-box > p {
  font-size: 20px;
  font-weight: 700;
  color: var(--point-color);
}

.sec1 .title-box > h3 {
  font-size: 32px;
}

.sec1 .gallery {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.sec1 .gallery > li {
  flex: 0 0 33.3333%;
}

.sec1 .gallery > li:not(:last-child) {
  margin-right: 38px;
}

.sec1 .gallery > li > .img-box {
  margin-bottom: 26px;
}

.sec1 .gallery > li > .p-box > p:nth-child(1) {
  font-weight: 600;
  color: var(--point-color);
  font-family: 'Lexend', sans-serif;
}

.sec1 .gallery > li > .p-box > p:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Lexend', sans-serif;
}

.sec1 .gallery > li > .p-box > p:nth-child(3) {
  color: #757a81;
  padding: 20px 0;
}

.sec1 .gallery > li > .p-box > .tag > span {
  background-color: #4a82ee;
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 13px;
}

.sec1 .gallery > li > .p-box > .tag > span:not(:last-child) {
  margin-right: 5px;
}

.sec2 {
  background-color: #eaf4fe;
}

.sec2 .sec-con {
  padding: 90px 0;
  text-align: center;
}

.sec2 .sec-con .title-box {
  padding-bottom: 64px;
}

.sec2 .sec-con .title-box > h2 {
  font-size: 38px;
}

.sec2 .sec-con .title-box > p {
  color: #757a81;
  padding-top: 26px;
}

.sec2 .sec-con ul.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec2 .sec-con ul.gallery > li {
  flex: 0 0 30%;
  border: 1px solid #eceff4;
  background-color: #fff;
  border-radius: 10px;
}

.sec2 .sec-con ul.gallery > li:nth-child(-n + 6) {
  margin-bottom: 46px;
}

.sec2 .sec-con ul.gallery > li .tag-con {
  color: #fff;
  margin-bottom: 30px;
}

.sec2 .sec-con ul.gallery > li .tag-con > span {
  width: 100%;
  height: 26px;
  background-color: #4d82ec;
  border-radius: 5px;
  padding: 6px 10px;
  box-sizing: border-box;
}

.sec2 .sec-con ul.gallery > li .tag-con > span:nth-child(1) {
  margin-right: 6px;
}

.sec2 .sec-con ul.gallery > li > .txt-box > h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #555555;
}

.sec2 .sec-con ul.gallery > li > .txt-box > p {
  color: #757a81;
}

.sec2 .sec-con ul.gallery > li > .txt-box > button {
  margin: 30px 0;
  padding: 18px 20px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.4s;
  font-family: 'Lexend', sans-serif;
}

.sec2 .sec-con ul.gallery > li > .txt-box > button:hover {
  color: #fff;
  background-color: var(--point-color);
}

.sec3 {
  background-color: #4a82ee;
}

.sec3 .sec-con {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.sec3 .title-box {
  flex: 0 0 40%;
  padding-top: 40px;
}

.sec3 .title-box > h2 {
  font-size: 38px;
}

.sec3 .title-box > h2 > span {
  color: #ffdd64;
}

.sec3 .img-box {
  flex: 0 0 60%;
}

.sec3 .img-box .gallery::after {
  content: '';
  display: block;
  clear: both;
}

.sec3 .img-box .gallery > li {
  float: left;
  width: 50%;
}

.sec3 .img-box .gallery > li > img {
  max-width: 333px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.sec3 .img-box .gallery > li > p {
  width: 180px;
  margin: 0 auto;
  line-height: 40px;
  border: 1px solid;
  border-radius: 20px;
  font-size: 14px;
}

.sec4 {
  width: 100%;
  height: auto;
}

.sec4 ul {
  padding: 65px 0;
}

.sec4 ul::after {
  content: '';
  display: block;
  clear: both;
}

.sec4 ul > li {
  width: 50%;
  float: left;
  position: relative;
}

.sec4 ul > li:not(:last-child) {
  margin-bottom: 50px;
}

.sec4 ul > li::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 75%;
  height: 1px;
  background-color: #f0f0f0;
}

.sec4 ul > li .top-box {
  padding-bottom: 28px;
  font-size: 32px;
  font-weight: 700;
}

.sec4 ul > li .top-box > .num {
  color: #01b595;
  padding-right: 10px;
}

.sec4 ul > li .top-box > p {
  display: inline-block;
}

.sec4 ul > li .bottom-box {
  color: #555555;
  padding-left: 50px;
}

.sec5 {
  width: 100%;
  height: auto;
  background-color: #02b595;
  text-align: center;
}

.sec5 .title-box {
  width: 100%;
  height: auto;
  color: #fff;
}

.sec5 .title-box > h2 {
  font-size: 48px;
  padding-top: 120px;
  padding-bottom: 40px;
}

.sec5 .title-box > p {
  font-size: 20px;
  padding-bottom: 70px;
}

.sec5 .title-box > p > span {
  font-weight: 700;
}

.sec5 ul.ani-box {
  padding-bottom: 108px;
}

.sec5 ul.ani-box::after {
  content: '';
  display: block;
  clear: both;
}

.sec5 ul.ani-box > li {
  width: 33.3333%;
  float: left;
  color: #fff;
}

.sec5 ul.ani-box > li > p.top {
  font-size: 17px;
  font-weight: 700;
}

.sec5 ul.ani-box > li > .num-ani-con {
  display: flex;
  justify-content: center;
  align-items: end;
}

.sec5 ul.ani-box > li > .num-ani-con > p {
  color: #ffdd64;
  font-size: 64px;
  font-weight: 500;
  margin-right: 20px;
}

.sec5 ul.ani-box > li > .num-ani-con > p > span {
  font-size: 20px;
  font-weight: 20px;
}

.sec5 ul.ani-box > li > .num-ani-con > span.arrow {
  width: 52px;
  height: 62px;
  background: url(../../img/business_index/arrow-up.png) no-repeat 50% / cover;
  opacity: 0;
  /* animation */
  -moz-animation-name: arrowUp;
  -webkit-animation-name: arrowUp;
  animation-name: arrowUp;

  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes arrowUp {
  from {
    opacity: 1;
  }
}

.sec6 {
  width: 100%;
  height: auto;
}

.sec6 .sec-con {
  padding: 100px 0;
}

.sec6 .title-box {
  width: 100%;
  height: 482px;
  background: url(../../img/business_index/test-image.png) no-repeat 50% / cover;
  border-radius: 30px;

  margin-bottom: 66px;
}

.sec6 .title-box > h2 {
  font-size: 36px;
  padding-top: 68px;
  padding-left: 66px;
}

.sec6 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sec6 ul > li {
  flex: 0 0 30%;
}

.sec6 ul > li:nth-child(-n + 3) {
  margin-bottom: 50px;
}

.sec6 ul > li > span.num {
  color: var(--point-color);
  font-weight: 600;
}

.sec6 ul > li > h3 {
  font-size: 25px;
  padding: 20px 0;
}

.sec6 ul > li > p {
  color: #555555;
}

.sec7 {
  width: 100%;
  height: auto;
  background-color: #fff2d0;
  position: relative;
}

.sec7 ::before {
  content: '';
  display: block;
  width: 1920px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../../img/business_index/rightnow_bg.png) no-repeat 50% / contain;
}

.sec7 .sec-con {
  padding: 60px;
  text-align: center;
}

.sec7 .title-box {
  margin-bottom: 38px;
}

.sec7 .title-box7 h2 {
  font-size: 32px;
  color: var(--point-color);
}

.sec7 .btn-box button {
  display: inline-block;
  width: 254px;
  height: 56px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}

.sec7 .btn-box button:nth-child(1) {
  color: var(--point-color);
  background-color: #fff;
  margin-right: 10px;
}

.sec7 .btn-box button:nth-child(2) {
  background-color: var(--point-color);
  color: #fff;
}
