@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../container_index/subHeader.css);
@import url(../common/footer.css);

main.career {
  width: 100%;
  height: auto;
}

section.sec1 {
  width: 100%;
  height: auto;
}

.sec1 .sec-con .info-gallery {
  width: 100%;
  height: 580px;
  background: url(../../img/carrer_index/sec1/career_banner.png) no-repeat 50% / cover;
}

.sec1 .sec-con .info-gallery > p {
  width: 1345px;
  margin: 0 auto;
  font-size: 43px;
  color: #212121;
  font-weight: 700;
  padding: 227px 0;
}

.sec2 > .sec-con,
.sec3 > .sec-con {
  width: 100%;
  width: 1345px;
  margin: 0 auto;
}

.sec2 .sec-con {
  padding: 110px 0;
}

.sec2 .sec-con > ul > li {
  display: flex;
  justify-content: space-between;
}
.sec2 .sec-con > ul > li:not(:last-child) {
  margin-bottom: 180px;
}

.sec2 .sec-con > ul > li > .left-box,
.right-box {
  flex: 0 0 50%;
}

.sec2 .sec-con > ul > li > .left-box p {
  color: var(--point-color);
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
}

.sec2 .sec-con > ul > li > .left-box h2 {
  font-size: 46px;
  font-weight: 700;
  color: #555555;
}
.sec2 .sec-con > ul > li > .right-box p {
  font-size: 21px;
  color: #555555;
  padding-top: 120px;
}

.sec3 .sec-con .top-box {
  width: 100%;
  height: 484px;
  background: url(../../img/carrer_index/sec3/career-banner-2.png) no-repeat 50% / cover;
  border-radius: 15px;
}

.sec3 .sec-con .top-box > p {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  padding-left: 46px;
  padding-top: 70px;
}

.sec3 .sec-con .bottom-box {
  padding: 90px 0;
}

.sec3 .sec-con .bottom-box > li:nth-child(1) {
  width: 33.3333%;
  float: left;
}
.sec3 .sec-con .bottom-box > li:nth-child(2) {
  width: 33.3333%;
  float: left;
}
.sec3 .sec-con .bottom-box > li:nth-child(3) {
  width: 33.3333%;
  float: left;
}

.sec3 .sec-con .bottom-box::after {
  clear: both;
  display: block;
  content: '';
}
.sec3 .sec-con .bottom-box > li > h3 {
  font-size: 25px;
  color: #212121;
}
.sec3 .sec-con .bottom-box > li > h3 {
  padding-bottom: 24px;
}
.sec3 .sec-con .bottom-box > li > p {
  color: #555555;
}

.sec4 {
  background-color: #00856d;
}
.sec4 .sec-con {
  width: 1920px;
  margin: 0 auto;
}
.sec4 .sec-con .banner-con {
  width: 475px;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
  position: relative;
}

.sec4 .sec-con .banner-con p:nth-child(1) {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Lexend', sans-serif;
}
.sec4 .sec-con .banner-con p:nth-child(2) {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}
.sec4 .sec-con .banner-con p:nth-child(3) {
  color: #ffdd64;
  font-size: 32px;
  font-weight: 700;
}

.sec4 .sec-con .banner-con::before {
  content: '';
  display: block;
  background: url(../../img/carrer_index/sec4/banner_bg_01.png) no-repeat 100% / contain;
  position: absolute;
  width: 160px;
  height: 209px;
  left: -160px;
  top: 50%;
  transform: translateY(-50%);
}
.sec4 .sec-con .banner-con::after {
  content: '';
  display: block;
  background: url(../../img/carrer_index/sec4/banner_bg_02.png) no-repeat 100% / contain;
  position: absolute;
  width: 160px;
  height: 209px;
  right: -160px;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #f4f4f5;
}
