@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../container_index/subHeader.css);
@import url(../common/footer.css);

footer {
  background-color: #f4f4f5 !important;
}

.support-container .sec-con {
  width: 100%;
  height: auto;
  width: 1345px;
  margin: 0 auto;
}

.support-title {
  width: 100%;
  height: auto;
  padding-top: 114px;
}

.support-title > h2 {
  font-size: 32px;
  font-weight: 700;
  color: #212121;
}

.support-title > p {
  color: #555555;
}
.support-title > p > span {
  color: #ff8a33;
}

.support-form {
  padding: 70px 0;
}

.support-form ul > li:not(:last-child) {
  padding-bottom: 35px;
}

/* label */
label {
  display: block;
  font-size: 15px;
  color: #555555;
  padding-bottom: 12px;
  position: relative;
}

.point::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #fc8934;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  box-sizing: border-box;
}

/* input-text */

input[type='text'] {
  width: 100%;
  width: 590px;
  height: 50px;
  display: block;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid #e6e8ea;
  box-sizing: border-box;
}
input[type='text']:focus {
  outline: 1px solid var(--point-color);
}

input.address-box {
  width: 100%;
  width: 436px;
  display: inline-block;
  margin-right: 10px;
}

li:nth-child(6) > input:not(:last-child) {
  margin-bottom: 20px;
}

/*  input-textArea */
textarea,
.textarea-box {
  width: 100%;
  height: auto;
  border: 1px solid #e6e8ea;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 30px;
  box-sizing: border-box;
}

textarea {
  height: 208px;
}
textarea:focus {
  outline: none;
}

::placeholder {
  font-size: 15px;
  color: #555555;
  font-family: 'Noto Sans KR', sans-serif;
}

/*  button */

li:last-child > button {
  width: 155px;
  height: 50px;
  background-color: #f3f4f6;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 0.4s;
  border-radius: 10px;
}

li:last-child > button:hover {
  color: #ffffff;
  background-color: var(--point-color);
}

li:nth-child(6) > button {
  width: 128px;
  height: 48px;
  background-color: var(--point-color);
  color: #ffffff;
  border: none;
  font-size: 13px;
  font-weight: 700;
  transition: background-color 0.4s;
  border-radius: 10px;
}

li:nth-child(6) > button:hover {
  background-color: #ffffff;
  border: 1px solid var(--point-color);
  color: var(--point-color);
}

/* radio */
.radio .radio-con {
  display: inline-block;
}

.radio.one .radio-con {
  width: 250px;
  height: auto;
  /* margin-right: 10px; */
  /* margin-right: 35px; */
  margin-bottom: 30px;
}

.radio.one .radio-con input[type='radio'] {
  display: none;
  position: absolute;
}

.radio.one .radio-con input[type='radio'] + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.radio.one .radio-con input[type='radio'] + label::before {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid #e6e8ea;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.radio.one .radio-con input[type='radio']:checked + label::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--point-color);
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------------------- */
.radio.two .radio-con {
  margin-right: 35px;
}

.radio.two .radio-con input[type='radio'] {
  display: none;
  position: absolute;
}

.radio.two .radio-con input[type='radio'] + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.radio.two .radio-con input[type='radio'] + label::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  border: 1px solid #e6e8ea;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: #fff;
}

.radio.two .radio-con input[type='radio']:checked + label::after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  background-color: var(--point-color);
  top: 0;
  left: 0;
  border-radius: 3px;
}
